AIM #1: Loading the dataset and printing basic information 
1. Import the Titanic dataset using pandas
2. Create a Dataframe from the dataset
3. Print the first 10 rows of the dataset
4. Print the last 20 rows of the dataset
5. Print dataset's information
6. Describe the dataset
7. Make sure all the information returned by the different functions are displayed in a single table and not on multiple ines

In [25]:
# 1. Import the Titanic dataset using pandas
import pandas as pd

# 2. Create a Dataframe from the dataset
titanic_df = pd.read_csv('titanic.csv')

# 3. Print the first 10 rows of the dataset
print(titanic_df.head(10))

# 4. Print the last 20 rows of the dataset
print(titanic_df.tail(20))

# 5. Print dataset's information
print(titanic_df.info())

# 6. Describe the dataset
print(titanic_df.describe())

# 7. Make sure all the information returned by the different functions are displayed in a single table and not on multiple lines
print(titanic_df.describe().T)

ModuleNotFoundError: No module named 'pandas'

AIM #2: Finding issues (empty, NAs, incorrect value, incorrect format, outliers, etc.) 
1. Find out how many missing values there are in the dataset
2. For the 'Age' column, find the best way to handle the missing values
    2.1. Use an appropriate plot to study the nature of the 'Age' column
    2.2. Figure out what is the best way to calculate the central tendency of the 'Age' column based on the above plot
    2.3. Using the most suitable central tendency measure, fill the missing values in the age column
3. Decide what is the best way to handle the missing values in the 'Cabin' columns
4. Similarly, decide what is the best way to handle the missing values in the 'Embarked' columns
5. Handle the incorrect data under the 'Survived' columns using appropriate measure
6. Handle the incorrectly formatted data under the 'Fare' column

In [6]:
# 1. Check for missing values in the dataframe
print(titanic_df.isnull().sum())

# 2. Check the data types of each column
print(titanic_df.dtypes)

# 3. Replace the missing 'Age' values with the mean of the column
titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)

# 4. Replace the missing 'Embarked' values with the mode of the column
embarked_mode = titanic_df['Embarked'].mode()[0]
titanic_df['Embarked'].fillna(embarked_mode, inplace=True)

# 5. Replace the missing 'Fare' values with the median of the column
titanic_df['Fare'].fillna(titanic_df['Fare'].median(), inplace=True)

# 6. Convert 'Cabin' to a categorical data type
titanic_df['Cabin'] = titanic_df['Cabin'].astype('category')

# 7. Convert 'Pclass' to a categorical data type
titanic_df['Pclass'] = titanic_df['Pclass'].astype('category')

# 8. Check again for missing values in the dataframe
print(titanic_df.isnull().sum())

NameError: name 'titanic_df' is not defined

AIM #3: Grouping 
1. Find out the average fare grouped by Pclass
    1.1. Plot the above using a suitable plot
2. Find out the average fare grouped by Sex
    2.1. Plot the above using a suitable plot

In [ ]:
# 1. Find out the average fare grouped by Pclass
avg_fare_pclass = titanic_df.groupby('Pclass')['Fare'].mean()
print(avg_fare_pclass)

# 1.1. Plot the above using a suitable plot
import matplotlib.pyplot as plt
avg_fare_pclass.plot(kind='bar')
plt.title('Average Fare by Pclass')
plt.xlabel('Pclass')
plt.ylabel('Average Fare')
plt.show()

# 2. Find out the average fare grouped by Sex
avg_fare_sex = titanic_df.groupby('Sex')['Fare'].mean()
print(avg_fare_sex)

# 2.1. Plot the above using a suitable plot
avg_fare_sex.plot(kind='bar')
plt.title('Average Fare by Sex')
plt.xlabel('Sex')
plt.ylabel('Average Fare')
plt.show()

AIM #4: Dataset visualization using pandas

1. Plot the distribution of 'Age' using a suitable plot
2. Plot the distribution of 'Fare' using a suitable plot
3. Plot the distribution of 'Pclass' using a suitable plot
4. Plot the distribution of 'Survived' using a suitable plot
5. Plot the distribution of 'Embarked' using a suitable plot
6. Plot the distribution of 'Fare' grouped by 'Survived'
7. Plot the distribution of 'Fare' grouped by 'Pclass'
8. Plot the distribution of 'Age' grouped by 'Survived'
9. Plot the distribution of 'Age' grouped by 'PClass'
10. Combine the 'SibSp' and 'Parch' and plot its distribution grouped by 'Survived'
11. Combine the 'SibSp' and 'Parch' and plot its distribution grouped by 'Pclass'
12. Plot a distribution between 'Age' and 'Fare' to see if there's any relationship
13. Are there any other possibilities to show relationships?

In [ ]:
# 1. Plot the distribution of 'Age' using a suitable plot
titanic_df['Age'].hist()
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

# 2. Plot the distribution of 'Fare' using a suitable plot
titanic_df['Fare'].hist()
plt.title('Fare Distribution')
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.show()

# 3. Plot the distribution of 'Pclass' using a suitable plot
titanic_df['Pclass'].value_counts().plot(kind='bar')
plt.title('Pclass Distribution')
plt.xlabel('Pclass')
plt.ylabel('Frequency')
plt.show()

# 4. Plot the distribution of 'Survived' using a suitable plot
titanic_df['Survived'].value_counts().plot(kind='bar')
plt.title('Survival Distribution')
plt.xlabel('Survived')
plt.ylabel('Count')
plt.show()

# 5. Plot the distribution of 'Embarked' using a suitable plot
titanic_df['Embarked'].value_counts().plot(kind='bar')
plt.title('Embarked Port Distribution')
plt.xlabel('Embarked Port')
plt.ylabel('Count')
plt.show()

# 6. Plot the distribution of 'Fare' grouped by 'Survived'
titanic_df.groupby('Survived')['Fare'].mean().plot(kind='bar')
plt.title('Average Fare by Survival')
plt.xlabel('Survived')
plt.ylabel('Average Fare')
plt.show()

# 7. Plot the distribution of 'Fare' grouped by 'Pclass'
titanic_df.groupby('Pclass')['Fare'].mean().plot(kind='bar')
plt.title('Average Fare by Pclass')
plt.xlabel('Pclass')
plt.ylabel('Average Fare')
plt.show()

# 8. Plot the distribution of 'Age' grouped by 'Survived'
titanic_df.groupby('Survived')['Age'].mean().plot(kind='bar')
plt.title('Average Age by Survival')
plt.xlabel('Survived')
plt.ylabel('Average Age')
plt.show()

# 9. Plot the distribution of 'Age' grouped by 'PClass'
titanic_df.groupby('Pclass')['Age'].mean().plot(kind='bar')
plt.title('Average Age by Pclass')
plt.xlabel('Pclass')
plt.ylabel('Average Age')
plt.show()

# 10. Combine the 'SibSp' and 'Parch' and plot its distribution grouped by 'Survived'
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
titanic_df.groupby('Survived')['FamilySize'].mean().plot(kind='bar')
plt.title('Average Family Size by Survival')
plt.xlabel('Survived')
plt.ylabel('Average Family Size')
plt.show()

# 11. Combine the 'SibSp' and 'Parch' and plot its distribution grouped by 'Pclass'
titanic_df.groupby('Pclass')['FamilySize'].mean().plot(kind='bar')
plt.title('Average Family Size by Pclass')
plt.xlabel('Pclass')
plt.ylabel('Average Family Size')
plt.show()

# 12. Plot a distribution between 'Age' and 'Fare' to see if there's any relationship
plt.scatter(titanic_df['Age'], titanic_df['Fare'])
plt.title('Age vs Fare')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.show()

# 13. Are there any other possibilities to show relationships?
corr_matrix = titanic_df.corr()
print(corr_matrix)

AIM #5: Correlation

1. Generate a correlation matrix for the entire dataset
2. Find correlation between 'Age' and 'Fare'
3. What other possible correlations can be found in the dataset?

In [ ]:
# 1. Generate a correlation matrix for the entire dataset
corr_matrix = titanic_df.corr()
print(corr_matrix)

# 2. Find correlation between 'Age' and 'Fare'
age_fare_corr = corr_matrix['Age']['Fare']
print(f"Correlation between Age and Fare: {age_fare_corr}")

# 3. What other possible correlations can be found in the dataset?
# This would require exploring the correlation matrix and looking for other high or low values